body {
    background-color: #ECEFF1;
    font-family: Helvetica;
}
.receipt {
    width: 400px;
    background-color: transparent;
    margin: 80px auto 80px auto;
}
.table-receipt {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: -20px 30px 50px 0px #8d8d8d;
    background-color: white;
}
.th-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    background-color: #3a903e;
    color: white;
    padding: 24px;
    font-size: 24px;
}
.td-title {
    font-size: 16px;
    font-weight: 700;
    color: #78909c;
    padding: 12px 8px 12px 8px;
    border-bottom: 1px solid #CFD8DC;
}
.td-content {
    font-size: 18px;
    text-align: right;
    padding: 12px 8px 12px 8px;
    border-bottom: 1px solid #CFD8DC;
}
.td-bottom {
    width: 100%;
    font-weight: 600;
    color: #3a903e;
    text-align: center;
    padding: 24px;
    font-size: 20px;
}
.button
{
    background-color: #4CAF50; /* Green */

color: white;

}